
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <blockquote>
                <div class="btn-group-sm" style="float:right">
                    {#if $authority#}
                        {#if ($statusID==1 || $statusID==2)#}
                        <button class="btn btn-success" onclick="updateStatus(3)">提交开发</button>
                        {#elseif ($statusID==3 || $statusID==5)#}
                        <button class="btn btn-primary" onclick="updateStatus(4)">开始开发</button>
                        <button class="btn btn-danger" onclick="updateStatus(1)">打回需求</button>
                        {#elseif ($statusID==5 || $statusID==4)#}
                        <button class="btn btn-success" onclick="updateStatus(6)">提交测试</button>
                        <button class="btn btn-danger" onclick="updateStatus(1)">打回需求</button>
                        {#elseif ($statusID==6)#}
                        <button class="btn btn-primary" onclick="updateStatus(7)">开始测试</button>
                        <button class="btn btn-danger" onclick="updateStatus(5)">打回开发</button>
                        {#elseif ($statusID==7)#}
                        <button class="btn btn-success" onclick="updateStatus(8)">开发通过</button>
                        <button class="btn btn-danger" onclick="updateStatus(5)">打回开发</button>
                        {#elseif ($statusID==9 || $statusID==8)#}
                        {#/if#}
                        <button class="btn btn-warning" onclick="updateStatus(9)">取消</button>
                    {#/if#}
                </div>
                <h6>项目：{#$project#}</h6>
                <h3>{#$name#}</h3>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <dvi class="col-md-2 col-md-offset-1">产品经理：{#$manager#}</dvi>
        <div class="col-md-2">开发者：{#$developer#}</div>
        <div class="col-md-2">测试者：{#$tester#}</div>
        <div class="col-md-2">预上线：{#$plantime#}</div>
    </div>
    <div class="row">
        <dvi class="col-md-2 col-md-offset-1">优先级：{#$prority#}</dvi>
        <div class="col-md-2">状态：{#$status#}</div>
        <div class="col-md-2">类型：{#$type#}</div>
        <div class="col-md-2">完成：{#$completetime#}</div>
    </div>
    <hr class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <blockquote>
                <h5>{#$content#}</h5>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" style="margin-left:0%">
                <div class="panel-heading">
                    问题
                    {#if ($authority && $statusID ==7 )#}
                    <button class="btn btn-success btn-xs addbug" style="margin-right: 2%; float: right">添加</button>
                    {#/if#}
                </div>
                <table class="table default">
                    <tbody id="bodybug">
                        {#foreach $bug as $row#}
                        <tr>
                            <tr id="tr-{#$row['id']#}">
                                <td>{#$row['fdDesc']#}</td>
                                <td>修复：
                                    <input type="radio" name="remind-{#$row['id']#}" value="1" {#if ($row['fdStatus']==1) #}checked{#/if#}>是
                                    <input type="radio" name="remind-{#$row['id']#}" value="0" {#if ($row['fdStatus']==0) #}checked{#/if#}>否
                                </td>
                                <td>
                                {#if ($authority && $statusID ==7 )#}
                                    <button class="btn btn-success btn-xs" onclick="confirm({#$row['id']#})">确定</button>
                                    <button class="btn btn-danger btn-xs"  onclick="delBug({#$row['id']#})">删除</button>
                                    {#/if#}
                                </td>
                            </td>
                        </tr>
                        {#/foreach#}
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <blockquote>
                <h5>操作日志</h5>
                <h5>{#$log#}</h5>
            </blockquote>
        </div>
    </div>

{#if ($authority && $statusID ==7 )#}
<script>
    $(function(){
        $('.addbug').on('click', function(){
            $('.modal').modal();
        });
        $('#modaladdbug').on('click', function(){
            var bug = $('#modal-ho-name').val();
            var id = '{#$id#}';
            $('#modal-ho-name').val('');
            $.ajax({
                'dataType' : 'json',
                "type": "post",
                "data": {"operate": "addBug","value":bug, "id": id},
                "url": "{#$url#}",
                "beforeSend": function()
                {
                    console.log('call');
                },
                "success": function(data)
                {
                    if (data.code != 0) {
                        alert('操作失败');
                    }
                    if (data.code == 0) {
                        var id = data['data'].id;
                        var tr = 
                        '<tr id="tr-'+id+'"><td>'+bug+'</td><td>修复：&nbsp;<input type="radio" name="remind-'+id+'" value="1" id="">是<input type="radio" name="remind-'+id+'" value="0" id="" checked>否</td><td><button class="btn btn-success btn-xs" onclick="confirm('+id+')">确定</button> <button class="btn btn-danger btn-xs" onclick="delBug('+id+')">删除</button></td></tr>';
                        $('#bodybug').append(tr);
                        $('#modalclose').click();
                    }
                },
                "complete": function()
                {
                }
            })
            
        })

    });
    function confirm(id)
    {
        var radio = 'remind-'+id;
        var slector = 'input[name='+radio+']:checked';
        var val = $(slector).val()
        $.ajax({
            'dataType': 'json',
            'type': 'post',
            'data': {"operate": "updateBug", "bugID": id, "bugStatus": val},
            "url": "{#$url#}",
            'success': function(data) {
                if (data.code != 0) {
                    alert('操作失败');
                }
                if (data.code == 0) {
                    alert('操作成功');
                }
            }
        })
        console.log(val);
    }
    function delBug(id)
    {
        var tr = '#tr-'+id;
        var selector = $(tr);
        $.ajax({
            'dataType': 'json',
            'type': 'post',
            'data': {"operate": "delBug", "bugID": id},
            "url": "{#$url#}",
            'success': function(data) {
                if (data.code != 0) {
                    alert('操作失败');
                }
                if (data.code == 0) {
                    alert('操作成功');
                    selector.detach();
                }
            }
        })
    }
</script>
{#/if#}