{#extends file='../layouts/itlayout.html'#}
{#block name='demo'#}
<div class="container" id="dutyContainer">
</div>
<script>
    $(function() {
        $.ajax({
            "dataType": "json",
            "type": "post",
            "data": {"operate": "list","id":"{#$id#}"},
            "url": "{#$url#}",
            "beforeSend": function()
            {
                console.log('call');
            },
            "success": function(data)
            {
                if (data.code != 0) {
                    $('#dutyContainer').append('<p class="text-center">暂无数据</p>');
                }
                if (data.code == 0) {
                    $('#dutyContainer').append(data['data']);
                }
            },
            "complete": function()
            {
            }
        });
    })
    function updateStatus(status)
    {
        var id = '{#$id#}';
        var status = status;
        $.ajax({
                "dataType": "json",
                "type": "post",
                "data": {"operate": "updateStatus","id":"{#$id#}", "status":status},
                "url": "{#$url#}",
                "beforeSend": function()
                {
                    console.log('call');
                },
                "success": function(data)
                {
                    if (data.code != 0) {
                        alert('操作失败');
                    }
                    if (data.code == 0) {
                        alert('操作成功');
                        location.reload(true);
                    }
                },
                "complete": function()
                {
                }
            }); 
    }
</script>
{#/block#}