{#extends file='../layouts/itlayout.html'#}
{#block name='demo'#}
<div class="container" id="dutyContainer">
</div>
<script>
    $(function() {
        $.ajax({
            "dataType": "json",
            "type": "post",
            "data": {"operate": "list","id":"{#$id#}"},
            "url": "{#$url#}",
            "beforeSend": function()
            {
                console.log('call');
            },
            "success": function(data)
            {
                if (data.code != 0) {
                    console.log('暂无数据');
                }
                if (data.code == 0) {
                    $('#dutyContainer').append(data['data']);
                }
            },
            "complete": function()
            {
            }
        });
    })
</script>
{#/block#}