{#extends file='../layouts/itlayout.html'#}
{#block name='demo'#}
<div class="container" id="dutyContainer">
</div>
<div class="modal fade modal-addbug">
    <div class="modal-dialog">
       <div class="modal-content">
           
        <div class="modal-header">添加BUG</div>
        <div class="modal-body">
            <form action="" class="form-horizontal" id="modal-form">
                <div class="form-group">
                    <label for="modal-ho-name" class="col-md-2 control-label">问题</label>
                    <div class="col-md-10">
                        <input type="text" name="name" id="modal-ho-name" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="modalclose">
                close
            </button>
            <button class="btn btn-primary" id="modaladdbug">
                submit
            </button>
        </div>
       </div>
    </div>
</div>
<script>
    $(function() {
        $.ajax({
            "dataType": "json",
            "type": "post",
            "data": {"operate": "list","id":"{#$id#}"},
            "url": "{#$url#}",
            "beforeSend": function()
            {
                console.log('call');
            },
            "success": function(data)
            {
                if (data.code != 0) {
                    $('#dutyContainer').append('<p class="text-center">暂无数据</p>');
                }
                if (data.code == 0) {
                    $('#dutyContainer').append(data['data']);
                }
            },
            "complete": function()
            {
            }
        });
    })
    function updateStatus(status)
    {
        var id = '{#$id#}';
        var status = status;
        $.ajax({
                "dataType": "json",
                "type": "post",
                "data": {"operate": "updateStatus","id":"{#$id#}", "status":status},
                "url": "{#$url#}",
                "beforeSend": function()
                {
                    console.log('call');
                },
                "success": function(data)
                {
                    if (data.code != 0) {
                        alert(data.message);
                    }
                    if (data.code == 0) {
                        alert('操作成功');
                        location.reload(true);
                    }
                },
                "complete": function()
                {
                }
            }); 
    }


</script>
{#/block#}