{#extends file='../layouts/itlayout.html'#}
{#block name='demo'#}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form action="" class="form-horizontal" id="formAddProject">
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-1">
                        <input type="text" name="name" id="ho-search" class="form-control" placeholder="通过任务名称全文检索">
                    </div>
                    <label for="ho-search" class="col-md-1 control-label" style="padding-top: 0">
                        <button class="btn btn-default" id="search">search</button>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#search').on('click', function(){
            return false;
        })
    })
</script>
{#/block#}