<div id="top" style="height:92px" role="navigation">
    <nav class="navbar navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><img src="{#$imgURL#}/menu/brand.png" alt=""></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-current"><a href="">javascript</a></li>
                    <li><a href="">php</a></li>
                    <li><a href="">linux</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>